@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}



/* --------------------Header CSS Start------------------------ */

header{
    background-color: #fdfdfe;
    width: 100%;
    height: auto;
}


header .container{
    margin-top: 0.5%;
}

header .nav-link{
    font-size: .7em;
    font-weight: 600;
    padding-left: 1.5rem !important;
}


.sticky {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(190, 186, 186, 0.19), 0 0 2px 0 rgba(190, 186, 186, 0.19);
  }


#navSticky{
    overflow: hidden;
    background-color: #fdfdfe;
    z-index: 999;
}



header .navbar-light .navbar-nav .nav-link:focus, 
header .navbar-light .navbar-nav .nav-link:hover{
    color: #2500f9;
}


header .navbar-light .navbar-nav .nav-link.active, 
header .navbar-light .navbar-nav .show>.nav-link{
    color: #2500f9;
}


header .btn{
    font-size: .6em;
    font-weight: 600;
    border-radius: 1.2rem;
    padding: .5rem 1.5rem;
    background-color: #2500f9;
    color: #fff;
    margin-left: 1.5rem;
    transition: ease-in-out 0.5s;
}


header .btn:hover{
    text-decoration: none;
    background-color: #fdfdfe;
    color: #2500f9;
    border: 1px solid #2500f9;
}


/* --------------------Header CSS End------------------------ */


/* --------------------Banner CSS Start------------------------ */


#banner{
    background-image: url(../img/background-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #fdfdfe;
}


#banner .container .col-md{
    margin:auto;
    height: 100%;
    padding: 18px;
}


#banner i{
    font-size: .9em;
    padding: .3rem;
    margin-right: .3rem;
    border-radius: 50%;
    background-color: #feaa25;
    color: #fff;
    text-align: start;
}

#banner span{
    font-size: .9em;
}

#banner .choiceApp{
    background-color: #e2eaed;
    display: inline-block;
    padding: .05rem 1.5rem .05rem .05rem;
    font-size: .8em;
    font-weight: 500;
    border-radius: 30px;
    margin: 30% 0 0 3.5rem;
}


#banner h1{
    font-weight: bolder;
    color: #242f51;
    margin-left: 3.5rem;
    margin-top: 1.5%;
}


#banner .lastTxt{
    font-size: medium;
    margin-left: 3.5rem;
    font-weight: 400;
    color: #242f51;
}



#banner .btn-group .btn{
    font-size: .6em;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 100%;
    color: #2500f9;
}


#banner .btn:hover{
    color: #2500f9;
}


#banner .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
#banner .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+2), .btn-group>:not(.btn-check)+.btn{
    border-radius: 20px;
}

#banner .btn-group, .btn-group-vertical{
    margin-left: 3.5rem;
}

#banner .btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.dropdown-toggle.show, .btn:active{
    background-color: #2500f9;
    color: #fff !important;
}



#banner .btn-check:focus+.btn, .btn:focus{
    color: #fff !important;
    background-color: #2500f9;
    border-radius: 20px;
    box-shadow: none;
}




#banner form .btn2{
    margin-left: 0;
}


#banner .col-md img{
    width: 72%;
    height: auto;
    margin-left: 5rem;
    margin-bottom: 15px;
}




/* --------------------Banner CSS End------------------------ */








/* --------------------Company Name CSS Start------------------------ */

#company{
    background-color: #fff;
    text-align: center;
    margin-top: 5%;
}


#company h6{
    color: #242f51;
    font-size: .8em;

}


#company .container .companyImg{
    width: 60vw;
    display: inline-flex;
}


#company .container .companyImg .logoImg{
    padding: 35px 30px;
    width: 12vw;
    margin: auto;
}



/* --------------------Company Name CSS End------------------------ */





/* --------------------App Feature CSS Start------------------------ */



#appFeature .row {
    margin-top: 4rem;
}


#appFeature h3 {
    color: #242f51;
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 40px;
}


#appFeature .container .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
}


#appFeature .container .allFeature{
    margin-top: 10%;
}



#appFeature .container .featureIcon{
    display: flex;
    flex-direction: row;
    padding: 2% 0;
}


#appFeature .container h6{
    font-weight: 600;
}


#appFeature .container .featureIcon .icon{
    width: 80px;
    height: fit-content;
    margin: 5px 22px;
}


#appFeature .container .lastText{
    font-size: medium;
    font-weight: 400;
    color: #242f51;
}



#appFeature .container .firstLine{
    color: #f55767;
}



#appFeature .container .secondLine{
    color: #2563ff;
}


#appFeature .container .thirdLine{
    color: #40975f;
}


/* --------------------App Feature CSS End------------------------ */



/* --------------------Jackpot CSS Start------------------------ */


#jackpot .col-md{
    text-align: center;
    margin: auto;    
    padding: 8% 0 4% 0;
}


#jackpot h3 {
    color: #242f51;
    font-size: 1.5em;
    font-weight: bolder;
    border-right: 1px solid #b9b9b8;
}


#jackpot .container .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
}



/* --------------------Jackpot CSS End------------------------ */




/* --------------------ANB Icon CSS Start------------------------ */



#anbIcon .container .icon{
    width: auto;
    margin-bottom: 20px;
}





#anbIcon .container .col-md-4{
    width: auto;
    margin: auto;
    padding: 4% 4%;
}


#anbIcon .container h6{
    font-weight: 600;
}



#anbIcon .container .firstLine{
    color: #f55767;
}



#anbIcon .container .secondLine{
    color: #2563ff;
}


#anbIcon .container .thirdLine{
    color: #40975f;
}



#anbIcon .container .lastText{
    font-size: medium;
    font-weight: 400;
    color: #242f51;
}




/* --------------------ANB Icon CSS End------------------------ */




/* --------------------Intergation CSS Start------------------------ */

#intergation .container .col-md{
    width: auto;
    margin: auto;
    padding: 4%;
}



#intergation h3 {
    color: #242f51;
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom: 2%;
}


#intergation .container .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
    padding-bottom: 2%;
}


#intergation .container .btn{
    font-size: .6em;
    font-weight: 700;
    padding: 10px 25px;
    color: #fff;
    background-color: #2500f9;
    border-radius: 20px;
    transition: ease-in-out 0.5s;
}


#intergation .btn:hover{
    text-decoration: none;
    background-color: #fdfdfe;
    color: #2500f9;
    border: 1px solid #2500f9;
}


/* --------------------Intergation CSS End------------------------ */





/* --------------------hr CSS------------------------------------- */
hr:not([size]) {
    height: 5px;
    background-color: #e9e4e4;
}





/* --------------------Choose Our App CSS Start------------------------ */



#coa .container .row{
    padding-bottom: 5%;
}



#coa .container .col-md-4{
    width: auto;
    margin: auto;
}


#coa .container .col-md-4 .icon{
    padding-bottom: 20px;
}


#coa h3 {
    color: #242f51;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 10% auto 2%;
}


#coa .container .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
    margin-bottom: 10%;
}


#coa .container .allLine{
    color: #242f51;
    font-weight: 600;
    padding-bottom: 2%;
}




#coa .container .lastText{
    font-size: medium;
    font-weight: 400;
    color: #242f51;
}




/* --------------------Choose Our App CSS End------------------------ */







/* --------------------Feature CSS Start------------------------ */


#feature{
    background-image: url(../img/4th-part-img.png);
    background-position: right, bottom;
    background-repeat: no-repeat;
    background-size: 40vw;
}

#feature h3 {
    color: #242f51;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 10% auto 2%;
}


#feature .container .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
    margin-bottom: 5%;
}



#feature .icon{
    padding-bottom: 20px;
}




#feature .allLine{
    color: #242f51;
    font-weight: 600;
    padding-bottom: 2%;
}




#feature .lastText{
    font-size: medium;
    font-weight: 400;
    color: #242f51;
    padding-bottom: 10%;
    width: calc(100% + 15px);
}



#feature .container .btn{
    font-size: .6em;
    font-weight: 700;
    padding: 10px 35px;
    color: #fff;
    background-color: #2500f9;
    border-radius: 20px;
    margin: 5% auto;
    transition: ease-in-out 0.5s;
}


#feature .btn:hover{
    text-decoration: none;
    background-color: #fdfdfe;
    color: #2500f9;
    border: 1px solid #2500f9;
}


#feature .dualPhn{
    width: 100vw;
    height: auto;
    margin-bottom: 10%;
}



/* --------------------Feature CSS End------------------------ */





/* --------------------Pricing CSS Start------------------------ */


#price {
    margin: 0 0 8%;
}



#price h3 {
    color: #242f51;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 10% auto 2%;
}


#price .container .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
    margin-bottom: 5%;
}


#price .firstCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}


#price .firstCard .col{
    width: auto;
    margin: auto;
}


#price .card{
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 0%), 0 30px 20px 0 rgb(0 0 0 / 10%);
    width: calc(100% - 40%);
    margin: auto 5%;
    transition: ease-in-out transform .2s;
    border: none;
}


#price .card:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%), 0 0 0 2px rgb(0 0 0 / 10%);
}

  

#price .card.fstCrd{
    margin-left: 35%;
}



#price .cardHead{
    background-image: linear-gradient(0deg, #f4f7f9, #fafcfc, #fdfdfe, #fefefe, #ffffff);
    padding: 5%;
}


#price .card .card-body{
    padding: 5% 0;
}



#price .card-header-pills{
    border: 3px solid #ebebeb;
    border-radius: 25px;
    margin-bottom: 5%;
    padding: 2px;
}


#price .btn{
    font-size: .6em;
    font-weight: 700;
    padding: 10px 20px;
    color: #2500f9;
    border-radius: 20px;
}


#price .btn:hover{
    color: #2500f9;
}



#price .btn.active{
    background-color: #2500f9;
    color: #fff !important;
}



#price .btn:focus{
    color: #fff !important;
    background-color: #2500f9;
    border-radius: 20px;
    box-shadow: none;
}


#price .lastBtn{
    font-size: .6em;
    font-weight: 700;
    padding: 10px 50px;
    color: #fff;
    background-color: #2500f9;
    border-radius: 20px;
    border: 1px solid #2500f9;
    margin-bottom: 5%;
    transition: ease-in-out .5s;
}


#price .lastBtn:hover{
    background-color: #fdfdfe;
    color: #2500f9;
    border: 1px solid #2500f9;
}


#price .cardHead h1{
    font-size: 2.5em;
    font-weight: bolder;
    color: #242f51;
}


#price .cardHead h1>span{
    font-size: .3em;
    font-weight: 300;
    color: #abaeb5;
}


#price .cardHead h5{
    color: #242f51;
    font-weight: bold;
    font-size: 1.1em;
}


#price .cardHead p{
    font-size: .8em;
    font-weight: 300;
    color: #abaeb5;
}

#price .card-body .card-text{
    font-size: .7em;
    font-weight: 500;
    color: #abaeb5;
    line-height: 300%;
}


#price .card-body .text-mute{
    color: #2500f9;
    font-size: .7em;
    font-weight: 500;
    margin: 0;
}



/* --------------------Pricing CSS End------------------------ */








/* --------------------Testiminial CSS Start------------------------ */

#testiminial{
    background-image: url(../img/5th-part-img.png);
    background-repeat: no-repeat;
    background-position: left, center;
    background-size: 50vw;
    margin: 5% 0;
}


#testiminial .pple-img{
    width: 90%;
    height: auto;
}


#testiminial h3 {
    color: #242f51;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 10% auto 2%;
}


#testiminial .container .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
    margin-bottom: 5%;
}


#testiminial .container .allLine{
    color: #242f51;
    font-weight: 600;
    padding-bottom: 2%;
}


#testiminial .container .intro{
    margin: auto auto auto 20px;
}


#testiminial .container .ceoIntro{
    color: #242f51;
    font-weight: 600;
    font-size: 1em;
    margin: 3px 0;
}



#testiminial .d-flex.list-unstyled li{
    margin-right: 10px;
    color: #ffcc00;
    font-size: 0.5em;
}


#testiminial .container p{
    margin: 0;
}


#testiminial .container .ceoProf .circleBtn{
    padding: 5% 15%;
    border-radius: 50%;
    border: 3px solid #eaebec;
    color: #eaebec;
}


#testiminial .container .ceoProf .circleBtn2{
    padding: 5% 18%;
    border-radius: 50%;
    border: 1px solid #eeeff1;
    color: #2500f9 !important;
    background-color: #eff3f1;
}



#testiminial .container .ceoProf span{
    color: #d8dadc;
    height: 1.5rem;
    margin: auto;
    border: 1px solid #d8dadc;
}


#testiminial .container .ceoProf .ceoTitle{
    font-size: .8em;
    font-weight: 400;
}




/* --------------------Testiminial CSS End------------------------ */




/* --------------------FAQ CSS Start------------------------ */


#faq{
    margin: 5% 0 8%;
}



#faq h3 {
    color: #242f51;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 10% auto 2%;
}


#faq .container .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
    margin-bottom: 5%;
}


.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}



.accordion-button:not(.collapsed) {
    color: #242f51;
    background-color: #f5f7fa;
    box-shadow: none;
}


.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #242f51;
    text-align: left;
    background-color: #f5f7fa;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

#faq .container .accordion-item h2 button {
    color: #242f51;
    font-weight: 600;
    margin: 0;
}


#faq  .accordion-item {
    background-color: #f5f7fa;
    border: none;
}


#faq  .accordion-item .accordionText{
    font-size: .8em;
    padding: 0 2rem;
    font-weight: 400;
    color: #242f51;
}




.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    content: "\002B";
    color: #242f51;
    background-repeat: no-repeat;
    background-size: 1em;
    transition: transform .2s ease-in-out;
    background-image: none;
    border: none;
    font-size: 1.1em;
    font-weight: normal;
    float: right;
    margin-left: auto;
}


  
  .accordion-button:not(.collapsed)::after {
    content: "\2212";
    background-image: none;
    border: none;
    margin-right: 12px;
  }


  #faq .container .accordion-item{
      margin: 5px 0;
  }


/* --------------------FAQ CSS End------------------------ */




/* --------------------Download Our App CSS Start------------------------ */

#doan h3 {
    color: #242f51;
    font-size: 2em;
    font-weight: bolder;
    margin: 10% auto 2% 15%;
}


#doan .container-fluid .firstText{
    font-size: large;
    font-weight: 400;
    color: #242f51;
    margin: 0 0 3% 15%;
}

#doan .container-fluid .col-md-6 a.google{
    margin-left: 15%;
}

#doan img.img-fluid.featureImage{
    margin-bottom: -7%;
}



/* --------------------Download Our App CSS End------------------------ */



/* --------------------Footer CSS Start------------------------ */




footer .row.text-center{
    padding-top: 5%;
    background-color: #09142e;
}


footer .col-12 img{
    margin-bottom: 2%;
}


footer ul li{
    padding: 1%;
}



footer .footerMenu ul li a{
    font-size: 0.7em;
    font-weight: 400;
    color: #fff;
    transition: .7s ease-in-out;
}



footer .footerMenu ul li a:hover {
    color: #273043;
    transform: rotate(360deg);

}


footer .footerSicon ul li a i{
    font-size: 1.2em;
    color: #273043;
    transition: ease-in-out .3s;
}


footer .footerSicon ul li i:hover {
    color: #fff;
    transform: rotate(-45deg);
}



footer .col-12 p{
    font-size: .7em;
    font-weight: 400;
}


/* --------------------Footer CSS End------------------------ */


















